<div class="ngx-khiops-histogram-demo">
  <div>
    <select [(ngModel)]="graphOptionX">
      <option *ngFor="let option of selectOptionsX" [value]="option">
        {{ option }}
      </option>
    </select>
    <select [(ngModel)]="graphOptionY">
      <option *ngFor="let option of selectOptionsY" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <ngx-khiops-histogram
    [datas]="datas"
    [datasLabels]="datasLabels"
    [options]="options"
    [graphOptionX]="graphOptionX"
    [graphOptionY]="graphOptionY"
    (selectedItemChanged)="selectedItemChanged($event)"
  ></ngx-khiops-histogram>
  <p *ngIf="selectedItem !== -1">Item index clicked: {{ selectedItem }}</p>
</div>
